/* Q: What is p when defining a rule in CSS? */
/* A: p is a selector, and using p would affect all of the paragraph
	* elements in an html file if it had a stylesheet
	* linked that defined a rule for paragraph elements*/
p {
  /* Q: What is the property that manipulates the horizontal size of the block? Write that property and give it a value of 60%*/
	width: 60%;
  /* Q: What are the other units of measurement we use in CSS? */
  /* A: px, em, %, ex, rem */
}

/* To be completed as a class together: */
/* Select "blue" class */
.blue {
	background-color: blue;
}
/* Select "main" id */
#main {
	border: 2px solid red;
}
